.contact h1 {
  text-align: center;
}
.man {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.man > * {
  width: 100%;
  text-align: center;
  margin-top: 2%;
  background-color: black;
  min-height: 20vh;
  border-radius: 10px;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.man h4{
    margin-bottom: 2%;
}

@media screen and (min-width: 900px) {
  .man {
    flex-direction: row;
  }
  .man > :last-child {
    margin-right: 1%;
  }
  .man > :first-child {
    margin-left: 1%;
  }
}
